@media only screen and (max-width: 520px) {
  html,
  body,
  footer {
    font-size: 15px;
  }
  /*----------------------
       REUSABLE                  
    -----------------------*/

  h1,
  h2,
  p {
    text-align: center;
  }

  h1 {
    line-height: 50px;
  }

  p {
    font-size: 1.2em;
    line-height: 30px;
  }

  /*----------------------
       NAVBAR                  
    -----------------------*/
  .navbar,
  .features,
  .sign-up {
    padding: 0 40px;
  }

  .navbar {
    margin-top: 40px;
  }

  .navbar .logo img {
    max-width: 100px;
  }

  .nav-links a {
    margin-left: 25px;
  }

  /*----------------------
       FEATURES                  
    -----------------------*/
  .features {
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
  }

  .features-text {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features-text > p {
    padding: 0 20px;
  }

  .test-card p {
    padding: 0;
    line-height: 20px;
    text-align: left;
  }

  .space {
    height: 200px;
  }

  .features:last-child {
    padding-top: 50px;
  }

  #email {
    margin-bottom: 20px;
  }

  #submit {
    font-size: 16px;
  }

  #email,
  #submit,
  #email-1,
  #submit-1 {
    width: 100%;
  }

  #form {
    padding: 0px 20px;
  }

  .illustration {
    margin-bottom: 100px;
  }

  .sign-up {
    flex-direction: column;
    width: 100%;
    padding: 100px 40px;
  }

  .sign-up-text,
  .sign-up-submit {
    padding: 0;
  }

  footer {
    padding: 100px 40px;
  }

  .footer-links {
    flex-direction: column;
  }

  .contact-links li a,
  .socials-links li a,
  .pages-links li a,
  .socials-links li a {
    font-size: 1.6em;
  }

  .contact,
  .pages {
    margin-bottom: 80px;
  }

  .socials-links {
    justify-content: center;
    margin: 0;
  }
}
