* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 0%, 12%);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position: relative;
}

/*----------------------
        REUSABLE                    
-----------------------*/

h1 {
  font-size: 2.2em;
  line-height: 60px;
  margin-bottom: 30px;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2em;
}

h2,
p {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 12%);
  font-weight: 400;
}

ul {
  list-style: none;
}

#email {
  width: 300px;
}

#email-1 {
  width: 90%;
  margin-bottom: 20px;
}

#email,
#email-1 {
  padding: 15px;
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 3px;
  font-size: 14px;
  margin-right: 8px;
}

#submit,
#submit-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 15px 50px;
  border: none;
  border-radius: 3px;
  background-color: hsl(224, 93%, 58%);
  color: rgb(240, 240, 240);
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
}

.navbar,
.features,
.sign-up {
  padding: 0px 80px;
}

/*----------------------
        NAV                     
-----------------------*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 60px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links a {
  margin-left: 50px;
}

/*----------------------
       FEATURES                   
-----------------------*/

.features {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.features:last-child {
  background-color: hsl(240, 75%, 98%);
  padding-top: 100px;
  padding-bottom: 100px;
}

.features-text {
  margin-right: 100px;
  width: 80%;
}

.illustration img {
  width: 100%;
}

.space {
  background-image: url(img/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
}

.features-text a {
  color: hsl(170, 45%, 43%);
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.link-how-to img {
  height: 20px;
  margin-left: 10px;
}
/*----------------------
       TESTIMONIAL CARD                   
-----------------------*/

.test-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  border-radius: 5px;
  max-width: 360px;
  margin-top: 45px;
}

.test-card-top p {
  line-height: 25px;
  font-size: 0.88em;
}

.test-card-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.test-card-bottom img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.test-card-bottom h3 {
  font-size: 0.6em;
  font-weight: 700;
}

.test-card-bottom p {
  font-size: 0.5em;
  margin: 0;
}

/*----------------------
       SIGN UP                  
-----------------------*/

.sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(238, 22%, 44%);
}

.sign-up-text,
.sign-up-submit {
  padding: 100px 0px;
  width: 100%;
}

.sign-up-text {
  padding-right: 200px;
  color: rgb(250, 250, 250);
}

/*----------------------
        FOOTER                   
-----------------------*/

footer {
  padding: 100px 80px;
  background-color: hsl(243, 87%, 12%);
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-logo {
  margin-right: 20px;
}

.socials-links {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
}

.socials-logo {
  border: 1px solid white;
  border-radius: 100%;
  padding: 5px;
  margin-left: 20px;
}

.contact-links li,
.socials-links li,
.pages-links li,
.socials-links li {
  margin-bottom: 10px;
}

.contact-links li a,
.socials-links li a,
.pages-links li a,
.socials-links li a {
  color: rgb(250, 250, 250);
}

footer .logo {
  margin-bottom: 30px;
}

.front-end-mentor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: hsl(0, 100%, 79%);
}
